<div style="text-align:center">
    <h1>
        Test of the advanced growl messages
    </h1>
    <adv-growl [life]="2500" (onClick)="logMessage($event)" (onClose)="logClose($event)" (onMessagesChanges)="onMessages($event)"></adv-growl>
    <button pButton type="button" (click)="createSuccessMessage()"
            class="ui-button-success" label="Create success message"></button>
    <button pButton type="button" (click)="createInfoMessage()"
            class="ui-button-info" label="Create info message"></button>
    <button pButton type="button" (click)="createWarningMessage()"
            class="ui-button-warning" label="Create warning message"></button>
    <button pButton type="button" (click)="createErrorMessage()"
            class="ui-button-danger" label="Create error message"></button>
    <button pButton type="button" (click)="clearMessages()"
            class="ui-button-default" label="Clear all messages"></button>
    <button pButton type="button" (click)="createNonDuplicatedSuccessMessage()"
            class="ui-button-success" label="Create success message if none on screen"></button>
</div>

