.full-width-button {
    width: 100%;
}

.top-margin {
    margin-top: 10px;
}

.title {
    font-size: 30px !important;
}

.nav-image {
    max-width: 70px;
    max-height: 40px;
}

.logo {
    max-height: 50px;
    max-width: 400px;
}

.version {
    margin-top: 40px;
    color: slategray;
    font-style: italic;
    font-weight: bold;
}
