# Node
node_modules/*
npm-debug.log

# JetBrains
.idea
.project
.settings
.idea/*

# Tests
coverage/*
test/*
**.spec.ts

# travis
.travis.yml

# git
.gitignore
.gitattributes

# firebase
.firebaserc
firebase.json

# angular-cli
.angular-cli.json

# TypesScript
tsconfig.json
tslint.json